@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(234, 234, 234);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  border-width: 3px 2px 3px 2px;
  border-style: solid dotted solid dotted;
  border-color: #1ea207 rgba(255, 255, 255, 0.3) #ff0000 rgba(151, 107, 93, 0.3);
  border-radius: 50%;
  box-sizing: border-box;
  animation: 1s rotate linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #ff0000;
  transform: translate(-10px, 19px) rotate(-35deg);
}
.loader:after {
  border-color: #1ea207 #0000 #0000 #0000;
  transform: translate(32px, 3px) rotate(-35deg);
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.searchloading {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #1ea207;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animsearchloading 2s linear infinite;
}
.searchloading::after {
  content: "";
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #1ea207;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animsearchloading {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}



body{
  position: relative;
}